
.hello {
    color: yellow;
    font-family: 'MyFont';
    margin: 150px;
  }

.adin {
  color: blue;
}

.albumImg{
    width: 100%;
    border: 4px solid black;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 14px black;
}
.player1{
    margin: 50px 0;
}
.headerContainer{
    margin: 14px 0;
    &>span{
        -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    font-size: 30px;
    }
}

.plecy{
    background-image: url("background.jpg");
    max-width: 620px;
    background-size: cover;
    background-position: center center;
}
.player{
    &>div:first-child{
        height: 300px;
        
    }
    max-width: 620px;
    .labelki {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: x-large;
    }
    label {
        font-size: 22px;
    }
}
.playerb{
    display: blovk;
    width: 80px;
    height: 80px;
    background-color: wheat;
    border-radius: 50%;
    &:after{
        content: '';
        
        width: 0; 
        height: 0; 
        border-top: 50px solid transparent; 
        border-left: 100px solid red;
        border-bottom: 50px solid transparent; 


    }
}