<meta charset="utf-8"/>
<div class="plecy container">
    <div class="player ">
        <div class="row">
            <div class="col-xs-4">
                <img class="albumImg" src="..\Cage-Eugene.jpeg" alt="">
            </div>
            <div class="col-xs-8 labelki">
                <div class="col-xs-12 headerContainer">
                    <span class="">Title</span>
                </div>
                <div class="col-xs-12 headerContainer ">
                    <span class="">Author</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="progress col-xs-10 col-xs-offset-1">
                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            
        </div>

    </div>

    <div class="row ">
        <div class="player1 text-center">

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
            </button>

            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button>


            <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            </button>

        </div>
    </div>
</div>